#root {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  gap: 48px;
  padding: 48px 48px;
  width: 100%;
}

@media (max-width: 1024px) {
  #root {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 16px;
    align-items: center;
    gap: 16px;
  }
}
